*.bk*
.pyenv/
x509/
apx/
__pycache__/
*.tar.gz
.vscode/
tls/
*.log
.venv
tests/resources/q*
.coverage
tests/resources/logs/
!tests/resources/apx
*.tar
src/version.py
tests/resources/backup/
*.docx
**/Tests/*